openapi: 3.0.1
info:
  description: "Leverage the Infrahub API and Hyperstack platform to easily create,\
    \ manage, and scale powerful GPU virtual machines and their associated resources.\
    \ \n\nAccess this SDK to automate the deployment of your workloads and streamline\
    \ your infrastructure management.\n\nTo contribute, please raise an issue with\
    \ a bug report, feature request, feedback, or general inquiry."
  title: Infrahub-API
  version: "1.0"
servers:
- url: https://infrahub-api.nexgencloud.com/v1
tags:
- description: Authentication APIs using authentik
  name: auth
- description: Organizations API
  name: organization
- description: API Key
  name: api key
- description: Invite APIs
  name: invite
- description: Permission APIs
  name: permission
- description: User Permission APIs
  name: user permission
- description: Policy APIs
  name: policy
- description: RBAC Role APIs
  name: rbac role
- description: Assigning Member Role APIs
  name: assigning member role
- description: Beta Access APIs
  name: beta access
- description: Partner config fetch endpoint
  name: partner-config
- description: Dashboard APIs
  name: dashboard
- description: Stock APIs
  name: stock
- description: Environment APIs
  name: environment
- description: Virtual Machine Event APIs
  name: virtual machine events
- description: Virtual Machine APIs
  name: virtual machine
- description: Flavor APIs
  name: flavor
- description: Image APIs
  name: image
- description: Keypair APIs
  name: keypair
- description: VNC Console Link APIs
  name: vnc url
- description: Volume APIs
  name: volume
- description: Volume Attachment APIs
  name: volume attachment
- description: GPU APIs
  name: gpu
- description: Callback APIs
  name: callbacks
- description: Floating IP APIs
  name: floating ip
- description: Region APIs
  name: region
- description: Templates APIs
  name: template
- description: Deployment APIs
  name: deployment
- description: Security Rule APIs
  name: security-rules
- description: Profile APIs
  name: profile
- description: Cluster APIs
  name: clusters
- description: Cluster Event APIs
  name: cluster events
- description: Compliance APIs
  name: compliance
- description: Firewalls APIs
  name: firewalls
- description: Firewall Attachments APIs
  name: firewall-attachment
- description: User Detail Choice APIs
  name: user detail choice
- description: Snapshot APIs
  name: Snapshots
- description: Snapshot Events APIs
  name: snapshot events
- description: Pricebook APIs
  name: Pricebook
- description: Calculate APIs
  name: Calculate
- description: Customer Contract APIs
  name: Customer Contract
- name: alive
- name: billing
- name: credit
- name: payment
- name: user
paths:
  /api-key:
    get:
      description: "Retrieves your API keys, granting access to the Infrahub APIs.\
        \ For further details on API keys, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/api-key/retrieve-api-key)."
      operationId: Retrieve_API_Key
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiKeysResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve API Keys
      tags:
      - api key
  /api-key/generate:
    post:
      description: "Generates your API key, providing access to the Infrahub APIs.\
        \ For further details on API keys, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/api-key/generate-api-key)."
      operationId: Generate_API_Key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateUpdateApiKeyPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateUpdateApiKeyResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      summary: Generate API Key
      tags:
      - api key
      x-codegen-request-body-name: payload
  /api-key/{api_key_id}:
    delete:
      description: Delete a specified API key by including the ID of the API key in
        the path.
      operationId: Delete_API_Key
      parameters:
      - explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete API Key
      tags:
      - api key
    put:
      description: Updates the name and optionally the description of a specified
        API key. Include the ID of the API key in the path and the new name and optional
        description in the body of the request.
      operationId: Update_API_Key
      parameters:
      - explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateUpdateApiKeyPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateUpdateApiKeyResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Update API Key
      tags:
      - api key
      x-codegen-request-body-name: payload
  /auth/beta-access/requests:
    get:
      description: Check the status of all beta access requests.
      operationId: Get_beta_access_status
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaAccessStatusResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Check the status of all beta access requests
      tags:
      - beta access
    post:
      description: Creates a new beta access request for the current user
      operationId: Create_a_beta_access_request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BetaAccessRequestPayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaAccessRequestResponseModel'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Create a new beta access request
      tags:
      - beta access
      x-codegen-request-body-name: payload
  /auth/beta-access/requests/{program}:
    get:
      description: Check the status of a particular beta access requests.
      operationId: Get_beta_access_status_2
      parameters:
      - explode: false
        in: path
        name: program
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaAccessStatusResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Check the status of beta access requests
      tags:
      - beta access
  /auth/invites:
    get:
      description: "Retrieve a list of email invitations from your organization. For\
        \ additional information on listing invited users, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/organization/invites/list-invites)."
      operationId: List_Invites
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvitesResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List Invites
      tags:
      - invite
    post:
      description: "Invites a user to join your organization. For additional information\
        \ on inviting users to the organization, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/organization/invites/invite-member)."
      operationId: Invite_User_to_Organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserPayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUserResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Invite User to Organization
      tags:
      - invite
      x-codegen-request-body-name: payload
  /auth/invites/{id}:
    delete:
      description: "Deletes an invitation for a user to join your organization. For\
        \ additional information on deleting an invitation, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/organization/invites/delete-invite)."
      operationId: Delete_Invite
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
          description: Invite accepted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Accept Invite
      tags:
      - invite
  /auth/invites/{id}/accept:
    get:
      description: Accept an invitation for a user to join your organization.
      operationId: Accept_Invite
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
          description: Invite deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Accept Invite
      tags:
      - invite
  /auth/me:
    get:
      description: "Retrieves detailed information about the currently authenticated\
        \ user. For additional information, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/auth)."
      operationId: Retrieve_Authenticated_User_Details
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUserInfoResponseModel'
          description: User Information
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Authenticated User Details
      tags:
      - auth
  /auth/me/mfa:
    get:
      description: Retrieve the Multi-Factor Authentication (MFA) status for the currentlyauthenticated
        user. Includes whether MFA is enabled.
      operationId: Get_User_MFA_Status
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFAStatusResponse'
          description: MFA Status
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: User not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Get MFA status for authenticated user
      tags:
      - auth
  /auth/me/mfa/disable:
    get:
      description: Disable Multi-Factor Authentication (MFA) for the currently authenticated
        user. This endpoint is used to turn off MFA.
      operationId: Disable_MFA
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
          description: MFA Disabled
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: User not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      tags:
      - auth
  /auth/me/organizations:
    get:
      description: Retrieve the organizations associated with a user by their user
        ID. This endpoint is useful for understanding the user's organizational affiliations.
      operationId: Get_User_Organizations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserOrganizationsResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Get User Organizations
      tags:
      - auth
  /auth/organizations:
    get:
      description: "Retrieves detailed information about your organization, including\
        \ current credit, threshold, number of instances, and number of volumes. For\
        \ additional information on organizations, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/organization/retrieve-org-details)."
      operationId: Retrieve_Organization_Information
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Organization Information
      tags:
      - organization
  /auth/organizations/remove-member:
    post:
      description: "Removes a member from your organization. For additional information,\
        \ [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/organization/remove-member)."
      operationId: Remove_Organization_Member
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveMemberPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveMemberFromOrganizationResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Remove Organization Member
      tags:
      - organization
      x-codegen-request-body-name: payload
  /auth/organizations/update:
    put:
      description: "Updates the name of the organization. For additional information,\
        \ [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/organization/update-org-name)."
      operationId: Update_Organization_Information
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrganizationResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Update Organization Information
      tags:
      - organization
      x-codegen-request-body-name: payload
  /auth/partner-config:
    get:
      description: Fetch the customised customer configuration for Hyperstack.
      operationId: Get_partner_config
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerConfig'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      summary: Get partner config
      tags:
      - partner-config
  /auth/partner-config/docs:
    get:
      description: Fetch the partner config for a given domain.
      operationId: Get_partner_config_by_domain
      parameters:
      - description: The domain to look up the partner config for.
        explode: true
        in: query
        name: domain
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerConfig'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      tags:
      - partner-config
  /auth/permissions:
    get:
      description: "Retrieves a list of permissions that users can be granted to access\
        \ a particular resource action. For additional information on permissions,\
        \ [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/permission/permissions)."
      operationId: List_Permissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPermissionsResponseModel'
          description: Getting permissions success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List Permissions
      tags:
      - permission
  /auth/policies:
    get:
      description: "Retrieves a list of policies available for addition to RBAC roles.\
        \ For additional information on policies, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/policies)."
      operationId: List_Policies
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPoliciesResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List Policies
      tags:
      - policy
  /auth/roles:
    get:
      description: "Retrieves a list of RBAC roles that can be assigned to the users\
        \ within an organization. For additional information on RBAC roles, [click\
        \ here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/rbac/list-rbac-roles)."
      operationId: List_RBAC_Roles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRbacRolesResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List RBAC Roles
      tags:
      - rbac role
    post:
      description: "Creates an RBAC role that can be assigned to users, granting them\
        \ access to specific resource actions. Provide the configuration of the RBAC\
        \ role, including its name, description, and list of permissions and policy\
        \ IDs in the request body. For additional information on creating RBAC roles,\
        \ [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/rbac/create-rbac-role)."
      operationId: Create_RBAC_Role
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateRbacRolePayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Create RBAC Role
      tags:
      - rbac role
      x-codegen-request-body-name: payload
  /auth/roles/{id}:
    delete:
      description: "Deletes an RBAC role by providing its ID in the path. For additional\
        \ information, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/rbac/delete-rbac-role)."
      operationId: Delete_RBAC_Role
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete RBAC Role
      tags:
      - rbac role
    get:
      description: "Retrieves the details of a specified RBAC role by providing the\
        \ RBAC role ID in the path. For additional information, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/rbac/retrieve-rbac-details)."
      operationId: Retrieve_RBAC_Role_Details
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModelFixed'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve RBAC Role Details
      tags:
      - rbac role
    put:
      description: "Updates an RBAC role by providing the role ID in the path and\
        \ the modified role configuration in the request body, including its name,\
        \ description, and list of permissions and policy IDs. For additional information,\
        \ [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/rbac/update-rbac-role)."
      operationId: Update_RBAC_Role
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateRbacRolePayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Update RBAC Role
      tags:
      - rbac role
      x-codegen-request-body-name: payload
  /auth/token/change-org/{org_id}:
    get:
      description: Change the organization associated with the current token. This
        is useful for users who have access to multiple organizations.
      operationId: Change_Organization_for_Token
      parameters:
      - explode: false
        in: path
        name: org_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthGetTokenResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      tags:
      - auth
  /auth/users/me/permissions:
    get:
      description: "Retrieves a list of permissions granted to your account. For additional\
        \ information on your permissions, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/permission/list-my-permissions)."
      operationId: List_My_User_Permissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserPermissionsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List My User Permissions
      tags:
      - user permission
  /auth/users/{id}/permissions:
    get:
      description: "Retrieves a list of permissions granted to a specific user within\
        \ your organization. Provide the ID of the user in the path. For additional\
        \ information on user permissions, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/permission/list-user-permissions)."
      operationId: List_User_Permissions
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserPermissionsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Method Not Allowed
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List User Permissions
      tags:
      - user permission
  /auth/users/{user_id}/assign-roles:
    put:
      description: "Assigns a specific RBAC role to a user within your organization,\
        \ granting them access to the resource actions permitted by the role. Provide\
        \ the user ID in the path and the role ID in the request body. For additional\
        \ information, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/rbac/manage-member-roles/assign-rbac-role)."
      operationId: Assign_RBAC_Role_to_User
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignRbacRolePayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Assign RBAC Role
      tags:
      - assigning member role
      x-codegen-request-body-name: payload
  /auth/users/{user_id}/roles:
    delete:
      description: "Removes an RBAC role from a user within your organization, revoking\
        \ the resource permissions they had access to. Provide the user ID in the\
        \ path. For additional information, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/rbac/manage-member-roles/revoke-rbac-role)."
      operationId: Remove_RBAC_Role_From_User
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Remove RBAC Role From User
      tags:
      - assigning member role
  /billing/alive:
    get:
      description: "Retrieve the billing status of your account to ensure that it\
        \ is active. An active billing status ensures uninterrupted service. For additional\
        \ information [**click here**](None/docs/api-reference/billing-resources/alive/)."
      operationId: get_alive
      responses:
        "200":
          content: {}
          description: Success
      security:
      - accessToken: []
      - apiKey: []
      summary: "GET: Alive"
      tags:
      - alive
  /billing/alive/doc:
    get:
      operationId: get_doc
      responses:
        "200":
          content: {}
          description: Success
      security:
      - accessToken: []
      - apiKey: []
      tags:
      - alive
  /billing/billing/history:
    get:
      description: "User will recieve billing history for the specified billing cycle.\
        \ This data will include 'incurred_bill', 'non_discounted_bill', 'vm_cost',\
        \ 'volume_cost'"
      operationId: get_user_billing_history_2
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Set this value to "true" for getting graph value
        explode: true
        in: query
        name: graph
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationLevelBillingHistoryResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History for a specific Billing Cycle
      tags:
      - billing
  /billing/billing/history/bucket:
    get:
      description: "User will recieve billing history of buckets for thespecified\
        \ billing cycle. This data will include 'resource_name', 'infrahub_id', 'status',\
        \ 'incurred_bill', 'usage_time', 'price_per_hour'"
      operationId: get_user_billing_history_bucket_2
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Search by resource "Name" or "ID"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Number of items to return per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelBucketBillingHistoryResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of Volume for a specific Billing Cycle
      tags:
      - billing
  /billing/billing/history/bucket/{bucket_id}:
    get:
      description: "Retrieve billing history of a specific Bucket for the specified\
        \ billing cycle. This data will include 'resource_name', 'infrahub_id', 'price_per_hour',\
        \ 'incurred_bill', 'usage_time', 'non_discounted_price_per_hour', 'non_discounted_bill'."
      operationId: get_user_billing_history_bucket_details
      parameters:
      - explode: false
        in: path
        name: bucket_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelBucketBillingDetailsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of a Specific Snapshot for a specific Billing
        Cycle
      tags:
      - billing
  /billing/billing/history/bucket/{bucket_id}/graph:
    get:
      description: User will recieve hourly cost datapoints for a Bucket for a specified
        billing cycle. This data will include 'incurred_bill' graph datapoints.
      operationId: get_user_billing_bucket_details_graph
      parameters:
      - explode: false
        in: path
        name: bucket_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelGraphBillingDetailsBucket'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve hourly cost datapoints of a Specific Bucket for a specific
        billing cycle
      tags:
      - billing
  /billing/billing/history/cluster:
    get:
      description: "User will receive billing history of clusters for the specified\
        \ billing cycle. This data will include 'resource_name', 'infrahub_id', 'status',\
        \ 'incurred_bill', 'usage_time', 'price_per_hour'"
      operationId: get_user_billing_history_cluster
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Search by resource "Name" or "ID"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Number of items to return per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelClusterBillingHistoryResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of Clusters for a specific Billing Cycle
      tags:
      - billing
  /billing/billing/history/cluster/{cluster_id}:
    get:
      description: "User will receive billing history of a specific Cluster for the\
        \ specified billing cycle. This data will include 'resource_name', 'infrahub_id',\
        \ 'price_per_hour', 'non_discounted_price_per_hour', 'incurred_bill', 'non_discounted_bill',\
        \ 'usage_time', 'usage_time_ACTIVE', 'usage_time_SHUTOFF', 'usage_time_HIBERNATED'."
      operationId: get_user_billing_history_cluster_details
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelClusterBillingDetailsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of a Specific Cluster for a specific Billing
        Cycle
      tags:
      - billing
  /billing/billing/history/cluster/{cluster_id}/graph:
    get:
      description: User will receive hourly cost datapoints for a Cluster for a specified
        billing cycle. This data will include 'incurred_bill' graph datapoints.
      operationId: get_user_billing_cluster_details_graph
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelClusterGraphBillingDetailsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve hourly cost datapoints of a specific Cluster for a specific
        billing cycle
      tags:
      - billing
  /billing/billing/history/contract:
    get:
      description: "User will recieve billing history of contracts for the specified\
        \ billing cycle. This data will include 'description', gpu_type','infrahub_id',\
        \ 'status', 'incurred_bill', 'price_per_hour'"
      operationId: get_user_billing_history_contract
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Search by Contract "Description" or "ID"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of Contract for a specific Billing Cycle
      tags:
      - billing
  /billing/billing/history/data_synthesis:
    get:
      description: User will recieve billing history of data_synthesis for the specified
        billing cycle.
      operationId: get_user_billing_history_data_synthesis
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Search by resource "Name" or "ID"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Number of items to return per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenBasedBillingHistoryResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of data synthesis for a specific Billing Cycle
      tags:
      - billing
  /billing/billing/history/data_synthesis/{resource_id}:
    get:
      description: "Retrieve billing history for a specific Data Synthesis resource.\
        \ Includes: 'resource_name', 'infrahub_id', 'base_model', 'base_model_display_name',\
        \ 'lora_adapter', 'incurred_bill', 'non_discounted_bill', 'usage_time', 'input_tokens',\
        \ 'output_tokens', 'input_tokens_incurred_bill', 'input_tokens_non_discounted_bill',\
        \ 'output_tokens_incurred_bill', 'output_tokens_non_discounted_bill'"
      operationId: get_user_billing_history_data_synthesis_details
      parameters:
      - explode: false
        in: path
        name: resource_id
        required: true
        schema:
          type: integer
        style: simple
      - description: YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSynthesisBillingHistoryDetailsResponseSchema'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      tags:
      - billing
  /billing/billing/history/data_synthesis/{resource_id}/graph:
    get:
      description: |-
        User will receive hourly cost datapoints for a data synthesis job for a specified billing cycle. This data will include 'incurred_bill' graph datapoints.
        billing cycle
      operationId: get_user_billing_data_synthesis_details_graph
      parameters:
      - explode: false
        in: path
        name: resource_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSynthesisBillingHistoryDetailsResponseSchema'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve hourly cost datapoints of a Specific Data Synthesis for a
        specific
      tags:
      - billing
  /billing/billing/history/fine_tuning:
    get:
      description: User will recieve billing history of fine_tuning for the specified
        billing cycle.
      operationId: get_user_billing_history_fine_tuning
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Search by resource "Name" or "ID"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Number of items to return per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadBillingHistoryResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of model evaluation for a specific Billing
        Cycle
      tags:
      - billing
  /billing/billing/history/fine_tuning/{resource_id}:
    get:
      description: "Retrieve billing history of a specific Fine tunning for the specified\
        \ billing cycle. This data will include 'resource_name', 'infrahub_id', 'price_per_hour',\
        \ 'incurred_bill', 'usage_time', 'non_discounted_price_per_hour', 'non_discounted_bill'."
      operationId: get_user_billing_history_fine_tuning_details
      parameters:
      - explode: false
        in: path
        name: resource_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingDetailsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of a Specific Fine Tuning for a specific Billing
        Cycle
      tags:
      - billing
  /billing/billing/history/fine_tuning/{resource_id}/graph:
    get:
      description: User will recieve hourly cost datapoints for a Fine Tunings for
        a specified billing cycle. This data will include 'incurred_bill' graph datapoints.
      operationId: get_user_billing_fine_tuning_details_graph
      parameters:
      - explode: false
        in: path
        name: resource_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeGraphBillingDetailsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve hourly cost datapoints of a Specific Fine Tuning for a specific
        billing cycle
      tags:
      - billing
  /billing/billing/history/model_evaluation:
    get:
      description: User will recieve billing history of model_evaluation for the specified
        billing cycle.
      operationId: get_user_billing_history_model_evaluation
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Search by resource "Name" or "ID"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Number of items to return per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenBasedBillingHistoryResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of model evaluation for a specific Billing
        Cycle
      tags:
      - billing
  /billing/billing/history/model_evaluation/{resource_id}:
    get:
      description: "Retrieve billing history for a specific Model Evaluation resource.\
        \ Includes: 'resource_name', 'infrahub_id', 'base_model', 'base_model_display_name',\
        \ 'lora_adapter', 'incurred_bill', 'non_discounted_bill', 'usage_time', 'input_tokens',\
        \ 'output_tokens', 'input_tokens_incurred_bill', 'input_tokens_non_discounted_bill',\
        \ 'output_tokens_incurred_bill', 'output_tokens_non_discounted_bill'"
      operationId: get_user_billing_history_model_evaluation_details
      parameters:
      - explode: false
        in: path
        name: resource_id
        required: true
        schema:
          type: integer
        style: simple
      - description: YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEvaluationBillingHistoryDetailsResponseSchema'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      tags:
      - billing
  /billing/billing/history/model_evaluation/{resource_id}/graph:
    get:
      description: |-
        User will receive hourly cost datapoints for a model evaluation for a specified billing cycle. This data will include 'incurred_bill' graph datapoints.
        billing cycle
      operationId: get_user_billing_model_evaluation_details_graph
      parameters:
      - explode: false
        in: path
        name: resource_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEvaluationBillingHistoryDetailsResponseSchema'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve hourly cost datapoints of a Specific Model Evaluation for
        a specific
      tags:
      - billing
  /billing/billing/history/serverless_inference:
    get:
      description: User will recieve billing history of serverless_inference for the
        specified billing cycle.
      operationId: get_user_billing_history_serverless_inference
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Search by resource "Name" or "ID"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Number of items to return per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenBasedBillingHistoryResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of serverless inference for a specific Billing
        Cycle
      tags:
      - billing
  /billing/billing/history/serverless_inference/{resource_id}:
    get:
      description: "Retrieve billing history for a specific Serverless Inference resource.\
        \ Includes: 'resource_name', 'infrahub_id', 'base_model', 'base_model_display_name',\
        \ 'lora_adapter', 'incurred_bill', 'non_discounted_bill', 'usage_time', 'input_tokens',\
        \ 'output_tokens', 'input_tokens_incurred_bill', 'input_tokens_non_discounted_bill',\
        \ 'output_tokens_incurred_bill', 'output_tokens_non_discounted_bill'"
      operationId: get_user_billing_history_serverless_inference_details
      parameters:
      - explode: false
        in: path
        name: resource_id
        required: true
        schema:
          type: integer
        style: simple
      - description: YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerlessInferencedBillingHistoryDetailsResponseSchema'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      tags:
      - billing
  /billing/billing/history/serverless_inference/{resource_id}/graph:
    get:
      description: |-
        User will recieve hourly cost datapoints for a serverles inference for a specified billing cycle. This data will include 'incurred_bill' graph datapoints.
        billing cycle
      operationId: get_user_billing_serverless_inference_details_graph
      parameters:
      - explode: false
        in: path
        name: resource_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerlessInferencedBillingHistoryDetailsResponseSchema'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve hourly cost datapoints of a Specific Serverless Inference
        for a specific
      tags:
      - billing
  /billing/billing/history/snapshot:
    get:
      description: "User will recieve billing history of snapshots for thespecified\
        \ billing cycle. This data will include 'resource_name', 'infrahub_id', 'status',\
        \ 'incurred_bill', 'usage_time', 'price_per_hour'"
      operationId: get_user_billing_history_snapshot
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Search by resource "Name" or "ID"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Number of items to return per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingHistoryResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of Snapshot for a specific Billing Cycle
      tags:
      - billing
  /billing/billing/history/snapshot/{snapshot_id}:
    get:
      description: "Retrieve billing history of a specific Snapshot for the specified\
        \ billing cycle. This data will include 'resource_name', 'infrahub_id', 'price_per_hour',\
        \ 'incurred_bill', 'usage_time', 'non_discounted_price_per_hour', 'non_discounted_bill'."
      operationId: get_user_billing_history_snapshot_details
      parameters:
      - explode: false
        in: path
        name: snapshot_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingDetailsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of a Specific Snapshot for a specific Billing
        Cycle
      tags:
      - billing
  /billing/billing/history/snapshot/{snapshot_id}/graph:
    get:
      description: User will recieve hourly cost datapoints for a Snapshot for a specified
        billing cycle. This data will include 'incurred_bill' graph datapoints.
      operationId: get_user_billing_snapshot_details_graph
      parameters:
      - explode: false
        in: path
        name: snapshot_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeGraphBillingDetailsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve hourly cost datapoints of a Specific Snapshot for a specific
        billing cycle
      tags:
      - billing
  /billing/billing/history/virtual-machine:
    get:
      description: "User will recieve billing history of virtual machine for the specified\
        \ billing cycle. This data will include 'resource_name', 'infrahub_id', 'status',\
        \ 'incurred_bill', 'usage_time', 'price_per_hour'"
      operationId: get_user_billing_history_vm_2
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Search by resource "Name" or "ID"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Number of items to return per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: integer
        style: form
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVmBillingHistoryResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
[...]
