openapi: 3.0.1
info:
  description: "Leverage the Infrahub API and Hyperstack platform to easily create,\
    \ manage, and scale powerful GPU virtual machines and their associated resources.\
    \ \n\nAccess this SDK to automate the deployment of your workloads and streamline\
    \ your infrastructure management.\n\nTo contribute, please raise an issue with\
    \ a bug report, feature request, feedback, or general inquiry."
  title: Infrahub-API
  version: "1.0"
servers:
- url: https://infrahub-api.nexgencloud.com/v1
tags:
- description: Authentication APIs using authentik
  name: auth
- description: Organizations API
  name: organization
- description: API Key
  name: api key
- description: Invite APIs
  name: invite
- description: Permission APIs
  name: permission
- description: User Permission APIs
  name: user permission
- description: Internal APIs Callback Test
  name: internal
- description: Policy APIs
  name: policy
- description: RBAC Role APIs
  name: rbac role
- description: Assigning Member Role APIs
  name: assigning member role
- description: API Key Admin APIs Admin APIs
  name: admin
- description: User Admin APIs
  name: User
- description: Dashboard APIs
  name: dashboard
- description: Stock APIs
  name: stock
- description: Environment APIs
  name: environment
- description: Virtual Machine Event APIs
  name: virtual machine events
- description: Virtual Machine APIs
  name: virtual machine
- description: Flavor APIs
  name: flavor
- description: Image APIs
  name: image
- description: Keypair APIs
  name: keypair
- description: VNC Console Link APIs
  name: vnc url
- description: Volume APIs
  name: volume
- description: Volume Attachment APIs
  name: volume attachment
- description: GPU APIs
  name: gpu
- description: Callback APIs
  name: callbacks
- description: Floating IP APIs
  name: floating ip
- description: Region APIs
  name: region
- description: Templates APIs
  name: template
- description: Deployment APIs
  name: deployment
- description: Security Rule APIs
  name: security-rules
- description: Profile APIs
  name: profile
- description: Cluster APIs
  name: clusters
- description: Cluster Event APIs
  name: cluster events
- description: Compliance APIs
  name: compliance
- description: Firewalls APIs
  name: firewalls
- description: Firewall Attachments APIs
  name: firewall-attachment
- description: User Detail Choice APIs
  name: user detail choice
- description: Admin Images Organization APIs
  name: Admin Images
- description: Admin Flavors APIs
  name: Admin Flavors
- description: Admin VM APIs
  name: Admin Virtual Machines
- description: Admin Environments APIs
  name: Admin Environments
- description: Admin Org APIs
  name: Admin Organizations
- description: Snapshot APIs
  name: Snapshots
- description: Snapshot Events APIs
  name: snapshot events
- description: Pricebook APIs
  name: Pricebook
- description: Discount APIs
  name: Discount
- description: Calculate APIs
  name: Calculate
- description: Admin Contract APIs
  name: Admin Contract
- description: Customer Contract APIs
  name: Customer Contract
- description: Contract Event APIs
  name: Contract Event
- name: alive
- name: billing
- name: credit
- name: payment
- description: Billing-related operations
  name: exclude
paths:
  /api-key:
    get:
      description: "Retrieves your API keys, granting access to the Infrahub APIs.\
        \ For further details on API keys, [**click here**](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/api-key/retrieve-api-key)."
      operationId: RetrieveApiKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiKeysResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve API Keys
      tags:
      - api key
  /api-key/generate:
    post:
      description: "Generates your API key, providing access to the Infrahub APIs.\
        \ For further details on API keys, [**click here**](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/api-key/generate-api-key)."
      operationId: GenerateApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateUpdateApiKeyPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateUpdateApiKeyResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      summary: Generate API Key
      tags:
      - api key
      x-codegen-request-body-name: payload
  /api-key/{api_key_id}:
    delete:
      description: Delete a specified API key by including the ID of the API key in
        the path.
      operationId: DeleteApiKey
      parameters:
      - explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete API Key
      tags:
      - api key
    put:
      description: Updates the name and optionally the description of a specified
        API key. Include the ID of the API key in the path and the new name and optional
        description in the body of the request.
      operationId: UpdateApiKey
      parameters:
      - explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateUpdateApiKeyPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateUpdateApiKeyResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Update API Key
      tags:
      - api key
      x-codegen-request-body-name: payload
  /auth/invites:
    get:
      description: "Retrieve a list of email invitations from your organization. For\
        \ additional information on listing invited users, [**click here**](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/organization/invites/list-invites)."
      operationId: ListInvites
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvitesResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List Invites
      tags:
      - invite
    post:
      description: "Invites a user to join your organization. For additional information\
        \ on inviting users to the organization, [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/organization/invites/invite-member)."
      operationId: InviteUserToOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserPayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUserResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Invite User to Organization
      tags:
      - invite
      x-codegen-request-body-name: payload
  /auth/invites/{id}:
    delete:
      description: "Deletes an invitation for a user to join your organization. For\
        \ additional information on deleting an invitation, [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/organization/invites/delete-invite)."
      operationId: DeleteInvite
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
          description: Invite deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete Invite
      tags:
      - invite
  /auth/me:
    get:
      description: "Retrieves detailed information about the currently authenticated\
        \ user. For additional information, [**click here**](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/auth)."
      operationId: RetrieveAuthenticatedUserDetails
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUserInfoResponseModel'
          description: User Information
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Authenticated User Details
      tags:
      - auth
  /auth/organizations:
    get:
      description: "Retrieves detailed information about your organization, including\
        \ current credit, threshold, number of instances, and number of volumes. For\
        \ additional information on organizations, [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/organization/retrieve-org-details)."
      operationId: RetrieveOrganizationInformation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Organization Information
      tags:
      - organization
  /auth/organizations/remove-member:
    post:
      description: "Removes a member from your organization. For additional information,\
        \ [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/organization/remove-member)."
      operationId: RemoveOrganizationMember
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveMemberPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveMemberFromOrganizationResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Remove Organization Member
      tags:
      - organization
      x-codegen-request-body-name: payload
  /auth/organizations/update:
    put:
      description: "Updates the name of the organization. For additional information,\
        \ [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/organization/update-org-name)."
      operationId: UpdateOrganizationInformation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrganizationResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Update Organization Information
      tags:
      - organization
      x-codegen-request-body-name: payload
  /auth/permissions:
    get:
      description: "Retrieves a list of permissions that users can be granted to access\
        \ a particular resource action. For additional information on permissions,\
        \ [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/permission/permissions)."
      operationId: ListPermissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPermissionsResponseModel'
          description: Getting permissions success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List Permissions
      tags:
      - permission
  /auth/policies:
    get:
      description: "Retrieves a list of policies available for addition to RBAC roles.\
        \ For additional information on policies, [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/policies)."
      operationId: ListPolicies
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPoliciesResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List Policies
      tags:
      - policy
  /auth/roles:
    get:
      description: "Retrieves a list of RBAC roles that can be assigned to the users\
        \ within an organization. For additional information on RBAC roles, [click\
        \ here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/rbac/list-rbac-roles)."
      operationId: ListRbacRoles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRbacRolesResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List RBAC Roles
      tags:
      - rbac role
    post:
      description: "Creates an RBAC role that can be assigned to users, granting them\
        \ access to specific resource actions. Provide the configuration of the RBAC\
        \ role, including its name, description, and list of permissions and policy\
        \ IDs in the request body. For additional information on creating RBAC roles,\
        \ [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/rbac/create-rbac-role)."
      operationId: CreateRbacRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateRbacRolePayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Create RBAC Role
      tags:
      - rbac role
      x-codegen-request-body-name: payload
  /auth/roles/{id}:
    delete:
      description: "Deletes an RBAC role by providing its ID in the path. For additional\
        \ information, [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/rbac/delete-rbac-role)."
      operationId: DeleteRbacRole
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete RBAC Role
      tags:
      - rbac role
    get:
      description: "Retrieves the details of a specified RBAC role by providing the\
        \ RBAC role ID in the path. For additional information, [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/rbac/retrieve-rbac-details)."
      operationId: RetrieveRbacRoleDetails
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModelFixed'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve RBAC Role Details
      tags:
      - rbac role
    put:
      description: "Updates an RBAC role by providing the role ID in the path and\
        \ the modified role configuration in the request body, including its name,\
        \ description, and list of permissions and policy IDs. For additional information,\
        \ [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/rbac/update-rbac-role)."
      operationId: UpdateRbacRole
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateRbacRolePayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Update RBAC Role
      tags:
      - rbac role
      x-codegen-request-body-name: payload
  /auth/users/me/permissions:
    get:
      description: "Retrieves a list of permissions granted to your account. For additional\
        \ information on your permissions, [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/permission/list-my-permissions)."
      operationId: ListMyUserPermissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserPermissionsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List My User Permissions
      tags:
      - user permission
  /auth/users/{id}/permissions:
    get:
      description: "Retrieves a list of permissions granted to a specific user within\
        \ your organization. Provide the ID of the user in the path. For additional\
        \ information on user permissions, [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/permission/list-user-permissions)."
      operationId: ListUserPermissions
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserPermissionsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Method Not Allowed
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List User Permissions
      tags:
      - user permission
  /auth/users/{user_id}/assign-roles:
    put:
      description: "Assigns a specific RBAC role to a user within your organization,\
        \ granting them access to the resource actions permitted by the role. Provide\
        \ the user ID in the path and the role ID in the request body. For additional\
        \ information, [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/rbac/manage-member-roles/assign-rbac-role)."
      operationId: AssignRbacRole
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignRbacRolePayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Assign RBAC Role
      tags:
      - assigning member role
      x-codegen-request-body-name: payload
  /auth/users/{user_id}/roles:
    delete:
      description: "Removes an RBAC role from a user within your organization, revoking\
        \ the resource permissions they had access to. Provide the user ID in the\
        \ path. For additional information, [click here](https://infrahub-doc.nexgencloud.com/docs/api-reference/auth-resources/rbac/manage-member-roles/revoke-rbac-role)."
      operationId: RemoveRbacRoleFromUser
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Remove RBAC Role From User
      tags:
      - assigning member role
  /billing/alive:
    get:
      operationId: Get:Alive
      responses:
        "200":
          content: {}
          description: Success
      summary: "GET: Alive"
      tags:
      - alive
  /billing/billing/history:
    get:
      description: "User will recieve billing history for the specified billing cycle.\
        \ This data will include 'incurred_bill', 'non_discounted_bill', 'vm_cost',\
        \ 'volume_cost'"
      operationId: RetrieveBillingHistoryForASpecificBillingCycle
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Set this value to "true" for getting graph value
        explode: true
        in: query
        name: graph
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationLevelBillingHistoryResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History for a specific Billing Cycle
      tags:
      - billing
  /billing/billing/history/contract:
    get:
      description: "User will recieve billing history of contracts for the specified\
        \ billing cycle. This data will include 'description', gpu_type','infrahub_id',\
        \ 'status', 'incurred_bill', 'price_per_hour'"
      operationId: RetrieveBillingHistoryOfContractForASpecificBillingCycle
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Search by Contract "Description" or "ID"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of Contract for a specific Billing Cycle
      tags:
      - billing
  /billing/billing/history/snapshot:
    get:
      description: "User will recieve billing history of snapshots for thespecified\
        \ billing cycle. This data will include 'resource_name', 'infrahub_id', 'status',\
        \ 'incurred_bill', 'usage_time', 'price_per_hour'"
      operationId: RetrieveBillingHistoryOfSnapshotForASpecificBillingCycle
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Search by Volume "Name" or "ID"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items to return per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingHistoryResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of Snapshot for a specific Billing Cycle
      tags:
      - billing
  /billing/billing/history/snapshot/{snapshot_id}:
    get:
      description: "Retrieve billing history of a specific Snapshot for the specified\
        \ billing cycle. This data will include 'resource_name', 'infrahub_id', 'price_per_hour',\
        \ 'incurred_bill', 'usage_time', 'non_discounted_price_per_hour', 'non_discounted_bill'."
      operationId: RetrieveBillingHistoryOfASpecificSnapshotForASpecificBillingCycle
      parameters:
      - explode: false
        in: path
        name: snapshot_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingDetailsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of a Specific Snapshot for a specific Billing
        Cycle
      tags:
      - billing
  /billing/billing/history/snapshot/{snapshot_id}/graph:
    get:
      description: User will recieve hourly cost datapoints for a Snapshot for a specified
        billing cycle. This data will include 'incurred_bill' graph datapoints.
      operationId: RetrieveHourlyCostDatapointsOfASpecificSnapshotForASpecificBillingCycle
      parameters:
      - explode: false
        in: path
        name: snapshot_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeGraphBillingDetailsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve hourly cost datapoints of a Specific Snapshot for a specific
        billing cycle
      tags:
      - billing
  /billing/billing/history/virtual-machine:
    get:
      description: "User will recieve billing history of virtual machine for the specified\
        \ billing cycle. This data will include 'resource_name', 'infrahub_id', 'status',\
        \ 'incurred_bill', 'usage_time', 'price_per_hour'"
      operationId: RetrieveBillingHistoryOfVirtualMachineForASpecificBillingCycle
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Search by Virtual Machine "Name" or "ID"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Number of items to return per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: string
        style: form
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVmBillingHistoryResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of Virtual Machine for a specific Billing
        Cycle
      tags:
      - billing
  /billing/billing/history/virtual-machine/{vm_id}:
    get:
      description: "User will recieve billing history of a specific Virtual Machine\
        \ for the specified billing cycle. This data will include 'resource_name',\
        \ 'infrahub_id', 'price_per_hour', 'non_discounted_price_per_hour', 'incurred_bill',\
        \ 'non_discounted_bill', 'usage_time', 'usage_time_ACTIVE', 'usage_time_SHUTOFF',\
        \ 'usage_time_HIBERNATED'"
      operationId: RetrieveBillingHistoryOfASpecificVirtualMachineForASpecificBillingCycle
      parameters:
      - explode: false
        in: path
        name: vm_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVMBillingDetailsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of a Specific Virtual Machine for a specific
        Billing Cycle
      tags:
      - billing
  /billing/billing/history/virtual-machine/{vm_id}/graph:
    get:
      description: User will recieve hourly cost datapoints for a VM for a specified
        billing cycle. This data will include 'incurred_bill' graph datapoints.
      operationId: RetrieveHourlyCostDatapointsOfASpecificVirtualMachineForASpecificBillingCycle
      parameters:
      - explode: false
        in: path
        name: vm_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVmGraphBillingDetailsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve hourly cost datapoints of a Specific Virtual Machine for a
        specific billing cycle
      tags:
      - billing
  /billing/billing/history/volume:
    get:
      description: "User will recieve billing history of volumes for thespecified\
        \ billing cycle. This data will include 'resource_name', 'infrahub_id', 'status',\
        \ 'incurred_bill', 'usage_time', 'price_per_hour'"
      operationId: RetrieveBillingHistoryOfVolumeForASpecificBillingCycle
      parameters:
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Search by Volume "Name" or "ID"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Number of items to return per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: string
        style: form
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingHistoryResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of Volume for a specific Billing Cycle
      tags:
      - billing
  /billing/billing/history/volume/{volume_id}:
    get:
      description: "Retrieve billing history of a specific Volume for the specified\
        \ billing cycle. This data will include 'resource_name', 'infrahub_id', 'price_per_hour',\
        \ 'incurred_bill', 'usage_time', 'non_discounted_price_per_hour', 'non_discounted_bill'."
      operationId: RetrieveBillingHistoryOfASpecificVolumeForASpecificBillingCycle
      parameters:
      - explode: false
        in: path
        name: volume_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingDetailsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Billing History of a Specific Volume for a specific Billing
        Cycle
      tags:
      - billing
  /billing/billing/history/volume/{volume_id}/graph:
    get:
      description: User will recieve hourly cost datapoints for a Volume for a specified
        billing cycle. This data will include 'incurred_bill' graph datapoints.
      operationId: RetrieveHourlyCostDatapointsOfASpecificVolumeForASpecificBillingCycle
      parameters:
      - explode: false
        in: path
        name: volume_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeGraphBillingDetailsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve hourly cost datapoints of a Specific Volume for a specific
        billing cycle
      tags:
      - billing
  /billing/billing/last-day-cost:
    get:
      description: "Retrieve the previous day's costs for instances, volumes, and\
        \ clusters. Returns a breakdown of the costs and the total cost for the last\
        \ day. For additional information on Retrieve Previous Day Usage Costs, [**click\
        \ here**](https://infrahub-doc.nexgencloud.com/docs/api-reference/billing-resources/last-day-usage/)"
      operationId: Get:LastDayCost
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lastdaycostresponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: "GET: Last Day Cost"
      tags:
      - billing
  /billing/billing/threshold:
    get:
      description: Retrieve all the notification thresholds for an organization.
      operationId: Get:AllThresholdsForOrganization
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizationthresholdsresponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: "GET: All Thresholds for Organization"
      tags:
      - billing
  /billing/billing/threshold/{threshold_id}:
    put:
      description: "By default, you are subscribed to all the threshold values and\
        \ you will be receiving the email notification for these default thresholds\
        \ values. `false` indicates that the user will no longer receive notifications\
        \ for this specific threshold, whereas `true` signifies that the user will\
        \ receive notification emails."
      operationId: Update:SubscribeOrUnsubscribeNotificationThreshold
      parameters:
      - explode: false
        in: path
        name: threshold_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscribeorunsubscribeupdatepayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizationthresholdupdateresponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: "Update: Subscribe or Unsubscribe Notification Threshold"
      tags:
      - billing
      x-codegen-request-body-name: payload
  /billing/billing/usage:
    get:
      description: "Retrieve active billing metrics for the organization's resources,\
        \ including pricing, uptime, and total cost. Returns usage details for each\
        \ active resource by defualt(`deleted=false` will return active resources).\
        \ Additionally, adding `deleted=true` in query parameter will return inactive\
        \ resources. For additional information on view usage costs for all resources,\
        \ [**click here**](https://infrahub-doc.nexgencloud.com/docs/billing-and-payment/billing-features#view-usage-costs-for-all-resources)"
      operationId: Get:BillingUsage
      parameters:
      - description: '`true` will return inactive resources and `false` will return
          active resources. By defualt(`deleted=false`)'
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: string
        style: form
      - description: Filter resources by environment ID or Name
        explode: true
        in: query
        name: environment
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Billingmetricesresponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: "GET: Billing usage"
      tags:
      - billing
  /billing/billing/virtual-machine/{vm_id}/billing-events:
    get:
      description: User will receive vm billing events history
      operationId: RetrieveVmBillingEventsHistory
      parameters:
      - explode: false
        in: path
        name: vm_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceBillingEventsHistoryResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve VM billing events history
      tags:
      - billing
  /billing/billing/virtual-machine/{vm_id}/sub-resource:
    get:
      description: |-
        User will get total costs and non_discount costs of sub resources on a specific Virtual Machine for the specified billing cycle.
        on a Specific VM for the Specified Billing Cycle
      operationId: RetrieveTotalCostsAndNonDiscountCostsForSubResources
      parameters:
      - explode: false
        in: path
        name: vm_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubResourcesCostsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Total Costs and Non Discount Costs for Sub Resources
      tags:
      - billing
  /billing/billing/virtual-machine/{vm_id}/sub-resource/graph:
    get:
      description: |-
        User will recieve sub-resources historical cost datapoints for a VM sub resources for a specified billing cycle. This data will include 'incurred_bill' graph datapoints.
        Machine sub resources for a specific billing cycle
      operationId: RetrieveSub-resourcesHistoricalCostDatapointsOfAVirtual
      parameters:
      - explode: false
        in: path
        name: vm_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubResourcesGraphResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Sub-Resources Historical Cost datapoints of a Virtual
      tags:
      - billing
  /billing/billing/volume/{volume_id}/billing-events:
    get:
      description: User will receive volume billing events history
      operationId: RetrieveVolumeBillingEventsHistory
      parameters:
      - explode: false
        in: path
        name: volume_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceBillingEventsHistoryResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Volume billing events history
      tags:
      - billing
  /billing/payment/payment-details:
    get:
      operationId: Get:ViewPaymentDetails
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentDetailsResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: "GET: View payment details"
      tags:
      - payment
  /billing/payment/payment-initiate:
    post:
      operationId: Post:InitiatePayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiatePayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInitiateResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: "POST: Initiate payment"
      tags:
      - payment
      x-codegen-request-body-name: payload
  /billing/user-credit/credit:
    get:
      operationId: Get:ViewCreditAndThreshold
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Getcreditandthresholdinfoinresponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: "GET: View credit and threshold"
      tags:
      - credit
  /billing/user/info:
    get:
      operationId: Get:FetchUserInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersInfoListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: "GET: Fetch User Info"
      tags:
      - user
    post:
      operationId: Post:InsertUserInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Userinfopostpayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserInfoSuccessResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: "POST: Insert user info"
      tags:
      - user
      x-codegen-request-body-name: payload
    put:
      operationId: Put:UpdateUserInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Userinfopostpayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserInfoSuccessResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: "PUT: Update user info"
      tags:
      - user
      x-codegen-request-body-name: payload
  /core/clusters:
    get:
      operationId: ListClusters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List Clusters
      tags:
      - clusters
    post:
      operationId: CreateCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterPayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Create Cluster
      tags:
      - clusters
      x-codegen-request-body-name: payload
  /core/clusters/name-availability/{name}:
    get:
      description: Check if a Cluster name is available
      operationId: FetchClusterNameAvailability
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailableModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Fetch cluster name availability
      tags:
      - clusters
  /core/clusters/versions:
    get:
      operationId: GetClusterVersions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterVersions'
          description: Retrieved Cluster Versions.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: GET Cluster Versions
      tags:
      - clusters
  /core/clusters/{cluster_id}/events:
    get:
      operationId: FetchAllOfAClusterEvents
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterEvents'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Fetch all of a cluster events
      tags:
      - cluster events
  /core/clusters/{id}:
    delete:
      operationId: DeleteACluster
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete a cluster
      tags:
      - clusters
    get:
      operationId: GettingClusterDetail
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Getting Cluster Detail
      tags:
      - clusters
  /core/compliance:
    get:
      description: "Returns a list of compliance objects each corresponding to available\
        \ GPU models. These compliance objects contain minimum and maximum values\
        \ for RAM in GB, number of vCPUs, and system disk capacity in GB. Use the\
        \ optional `gpu` model parameter in the query string to filter responses by\
        \ GPU model. For additional details on GPU compliance, [**click here**](https://infrahub-doc.nexgencloud.com/docs/hardware/flavors#adhering-to-gpu-compliance)."
      operationId: RetrieveGpuCompliance
      parameters:
      - description: This is for gpu model
        explode: true
        in: query
        name: gpu
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceResponse'
          description: Compliance list retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Acceptable
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve GPU compliance
      tags:
      - compliance
    post:
      operationId: CreateCompliance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompliancePayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpdateComplianceResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Create compliance
      tags:
      - compliance
      x-codegen-request-body-name: payload
    put:
      operationId: UpdateACompliance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompliancePayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpdateComplianceResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Method Not Allowed
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Update a compliance
      tags:
      - compliance
      x-codegen-request-body-name: payload
  /core/compliance/{gpu_model}:
    delete:
      operationId: DeleteACompliance
      parameters:
      - explode: false
        in: path
        name: gpu_model
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete a compliance
      tags:
      - compliance
  /core/dashboard:
    get:
      description: "Returns hardware and pricing overview for your active resources,\
        \ including virtual machines, containers, and volumes. For additional information\
        \ on the Dashboard feature, [**click here**](https://infrahub-doc.nexgencloud.com/docs/features/dashboard)."
      operationId: RetrieveDashboard
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardInfoResponse'
          description: Getting dashboard info success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Dashboard
      tags:
      - dashboard
  /core/environments:
    get:
      description: "Returns a list of your existing environments, providing the following\
        \ details for each; environment ID, name, [**region**](https://infrahub-doc.nexgencloud.com/docs/features/regions),\
        \ and the date and time of creation. For more information on environments,\
        \ [**click here**](https://infrahub-doc.nexgencloud.com/docs/features/environments-available-features)."
      operationId: ListEnvironments
      parameters:
      - description: Page Number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Data Per Page
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: string
        style: form
      - description: Search By ID or Name or Region
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environments'
          description: Successful retrieval of environments list.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List environments
      tags:
      - environment
    post:
      description: "Creates an environment—a container to organize your resources,\
        \ including SSH key pairs, virtual machines, and volumes. To create your environment,\
        \ provide your desired environment name, and [**region**](https://infrahub-doc.nexgencloud.com/docs/features/regions)\
[...]
